@model ASP1Examen.Models.Ville

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Ville</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Npa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Npa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
